# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Database
*.db
*.sqlite3

# IDE specific files
.idea/
.vscode/

# JavaScript specific
node_modules/
package-lock.json
yarn.lock

# Static and media
app/static/images/
app/static/uploads/ 